/* #gradient{
    border: 2px solid rebeccapurple;
    height: 500px;
     background-image: linear-gradient(to top right, pink,purple, cyan ); 
    background-image: linear-gradient(110deg, pink,purple, cyan )
    background-image: radial-gradient(circle,cyan 60%,blue 20%,palegreen 20%);
}
#overflow{
    border: 3px solid maroon;
    background-color: cyan;
    width: 500px;
    height: 250px;
     overflow-x: hidden;
    overflow-y: scroll; 
    overflow: auto;
    resize: vertical;
    resize: vertical;
}
textarea{
    resize: none;
}
ul{
    list-style-type:none;
    list-style-type: circle;    
    list-style-type: disc;
    list-style-type: square; 
    list-style-image: url(images/symbol.png);
    list-style-position: inside;
}
ol{
    list-style-type:none;
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: lower-roman;
    list-style-type: upper-roman;
    list-style-type: decimal;
    list-style-type:decimal-leading-zero;
    list-style: inside;
}
li{
    border: 2px solid purple;
}
caption{
    border: 1px solid black;
    border-spacing: 20px 25px;
    caption-side: bottom;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    empty-cells: hide;
    width: 100%;
    table-layout: auto;
}
tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: bottom;
}
td{
    border: 1px solid black;
    height: 25px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
#func{
    height: 250px;
    background-color: var(--primary-color);
    width: calc(100% - 100px);
}
a{
    padding: 10px;
    margin: 30px;
    background-color: var(--button-color);
    color:var(--text-color) ;
    text-decoration: none;
}
:root{
    --primary-color: rgb(67, 110, 110);
    --button-color:rgb(179, 255, 0);
    --text-color:rgb(220, 39, 39);
}
#div1{
    background-color: aquamarine;
    width: 600px;
    height: 200px;
}
#div2{
    background-color: blanchedalmond;
    width: 600px;
    height: 200px;
    padding: 50px;
    border: 10px solid black;
    box-sizing: border-box;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#initial{
    color: initial;
}
#inherit{
    color: inherit;
}
img{
    border: 2px solid blueviolet;
    height: 250px;
    width: 250px;
    object-fit: contain;
    object-position: right center;
}
li:first-child{
    color: aqua;
    background-color: black;
}
li:last-child{
    color: blueviolet;
}
li:nth-child(4){
    color: maroon;
}
li:nth-child(odd){
    color: green;
}
li:nth-child(even){
    color: blue;
}
li:nth-child(n){
    color: violet;
}
p::first-letter{
    font-size: 35px;
    color: teal;
}
p::first-line{
    font-size: 35px;
    color: teal;
}
h1::before{
    content: url(images/1088580.jpg);
}
h1::after{
    content: url(images/symbol.png);
}
::selection{
    color: white;
    background-color: darkred;
} 
.display{
    border: 2px solid red;
    width: 50%;
    height: 100px;
    display:inline-block;
    visibility: hidden;
    display: none;
} 

#parent{
     border: 2px solid red; 
    padding: 20px;
    width: 50%;
    margin: 100px;
    position: relative;
} 

#one{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    display: inline-block;
    position: relative;
    z-index: 3;

}

#two{
    width: 100px;
    height: 100px;
    background-color: brown;
    display: inline-block;
    position: relative;
    top: 50px;
    left: -50px;
    z-index: 2;
}

#three{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 100px; 
    left: -100px;
    z-index: 1;
}

img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
#img1{
    float: right;
}
#img2{
    float: left;
}

ul{
    background-color: rgb(13, 9, 234);
    list-style-type: none;
    overflow: auto;
}
li{
    color: white;
    padding: 10px 20px;
    float: left;
}

p{
    border: 2px solid maroon;
    overflow: auto;
    width: 100%;
    height: auto;
}
img{
    float: right;
    border: 5px solid green;
}
#img1{
    float: left;
}
#img2{
    float: right;
    clear: both;
}

#content{
    width: 70%;
    background-color: palevioletred;
    height: 200px;
    float: left;
}
#sidebar{
    width: 30%;
    background-color: purple;
    height: 150px;
    float: left;
}
#footer{
    background-color: blueviolet;
    clear: both;
}

#wrapper{
    padding: 20px;
    margin: 100px;
    border: 2px solid blue;
    background-color: pink;
    transform: matrix(1, -0.2, 0, 1, 0, 0);
}
a{
    text-decoration: none;
    background-color: red;
    padding: 5px;
    color: white;
    transform: skew(20deg, 10deg);
    transform: skewY(30deg);
    display: inline-block;
    transform-origin: 100% 100%;
    
}
a:hover{
    display: inline-block;
    transform: translate(40px, 40px);
    transform: rotate(20deg);
    transform: scale(0.5,0.8);
    transform: scaleX(0.5,0.8);
    transform: scaleY(0.5,0.8);
} 
#cover1{
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    margin: 150px;
}

#content1{
    height: 200px;
    width: 200px;
    background-color: burlywood;    
    transform: perspective(300px) rotate3d(0, 50, 50, 30deg);
    transform: perspective(300px) translate3d(0px, 0px, -50px);
}
#div1{
    height: 100px;
    width: 100px;
    margin: 100px;
    background-color: cadetblue;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 500ms;
    transition-timing-function: ease-out;
}

#div1:hover{
    width: 300px;
    background-color: aqua;
    height: 500px;
}
@keyframes changecolor {
    from{background-color: brown; } 
    to{ background-color: teal;}   
    0%{background-color: tomato;}
    25%{width: 200px;}
    50%{background-color: rgb(237, 255, 71);}
    75%{width: 100px;}
    100%{background-color:turquoise;}

    0%{background-color: red;border-radius: 10%;}
    10%{background-color: rgb(217, 255, 0);border-radius: 20%;}
    20%{background-color: rgb(81, 255, 0);border-radius: 30%;}
    30%{background-color: rgb(0, 255, 187);border-radius: 40%;}
    40%{background-color: rgb(0, 208, 255);border-radius: 50%;}
    50%{background-color: rgb(0, 72, 255);border-radius: 40%;}
    60%{background-color: rgb(255, 0, 234);border-radius: 30%;}
    70%{background-color: rgb(255, 0, 89);border-radius: 30%;}
    80%{background-color: rgb(0, 255, 98);border-radius: 20%;}
    90%{background-color: rgb(255, 0, 123);border-radius: 10%;}
    1000%{background-color: rgb(255, 0, 85);border-radius: 10%;}
}
#animate{
    background-color: tomato;
    width: 200px;
    height:200px;
    animation-name: changecolor;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
}
#animate2{
    background-color: tomato;
    width: 200px;
    height:200px;
    animation-name: changecolor;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-direction: reverse;
    animation-timing-function: ease;
}
@media screen {
    p{
        font-size: 30px;
        background-color: antiquewhite;
    }
}
@media print{
    p{
        font-size: 40px;
    }
    img{
        display: none;
    }
    div{
        width: 70%;
    }
}
#div1{
    width: 70%;
    float: left;
    background-color: tan;
}
#div2{
    width: 30%;
    float: left;
    background-color: royalblue;
}
h1{
    font-size: 100px;
}
@media screen and(max-width: 768px){
    div1{
        width: 50%;
    }
    div2{
        width: 50%;
    }
}
@media screen and(max-width: 768px){
    div1{
        width: 50%;
    }
    div2{
        width: 50%;
    }
}
@media screen and(max-width: 400px){
    div1{
        width: 100%;
    }
    div2{
        width: 100%;
    }
}

css over flow
#overflow{
    background-color: wheat;
    border: 2px solid purple;
    height: 250px;
    width: 400px;
    overflow: hidden;
    overflow: visible;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: scroll;
    overflow:auto;
}

html{
    font-size: 10px;
}

#parent{
   font-size: 10vw; 
   font-size: 10vh;
}
#child{
    font-size: 2rem;
}
.psu-test::first-letter{
    color: #f32121;
    font-size: 100px;
    text-transform: capitalize;}
   --- psedu class---
li:first-child{
    color: rgb(255, 47, 47);
}
li:last-child{
    color: rgb(255, 47, 47);
}
li:nth-child(3){
    color: rgb(255, 47, 47);
}
li:nth-child(even){
    color: rgb(55, 11, 125);
}
li:nth-last-child(1){
    color: rgb(175, 255, 47);
}
input:focus{
    border: 6px dashed rgb(119, 130, 0);
}
---psedo element---
p::first-letter{
    color: tan;
    font-size: 40px;
}
p::first-line{
    color: salmon;
    font-size: 40px;
}
h1::before{
    content: url(images/symbol.png);
}
h1::after{
    content: " added after";
}
::selection{
    color: rgb(81, 23, 23);
    background:hotpink;
}
 --- display property ----
.display{
    border: 2px solid green;
    width: 250px;
    height: 250px;
    display: inline-block;
}
#div1{
    display: none;
    visibility: hidden;
}



#parent{
    border: 2px solid rebeccapurple;
    padding: 10px;
    width: 50%;
    margin: 100px;
    position: relative;
}
body{
    height: 10000px;
}
#one{
    background-color: green;
    height: 100px;
    width: 100px;
    display: inline-block;
    position: fixed;
    bottom: 0px;
    right: 0px;
}
#two{
    background-color: blue;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#three{
    background-color: black;
    height: 100px;
    width: 100px;
    display: inline-block;
}
#div1{
    width: 70%;
    float: left;
    background-color: rosybrown;
}
#div2{
    width: 30%;
    float: left;
    background-color: blueviolet;
}
h1{
    font-size: 80px;
}
@media screen and (max-width: 786px){
    #div1{
        width: 50%;
    }
    #div2{
        width: 50%;
    }
}
@media screen and (max-width: 400px){
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
    }
    
}
@media screen and (min-width: 400px) {
    #div1{
        width: 100%;
    }
    #div2{
        width: 100%;
    }
}
image{
    width: 100%;
    height: auto;
}
#container{
    width: 100px;
    height: auto;
}
#img1{
    float:left;
}
#img2{
    float: left;
}
ul{
    background-color: grey;
    list-style-type: none;
    overflow: auto;
}
li{
    color: whitesmoke;
    padding: 15px 25px;
    float: left;
    justify-content: space-around;
} 
div{
   column-count: 4;
   column-gap: 50px; 
   column-width: auto;
   column-rule-style: double;
   column-rule-width: 2px;
   column-rule-color: rosybrown;
   column-rule: 2px dashed darkblue;
}
h1{
    column-span: all;
    text-align: center;
}
.flex-container{
    background-color: aquamarine;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: column;
    flex-direction: row;
    flex-direction: row-reverse;
    flex-wrap:wrap ;
    flex-wrap: nowrap; 
    flex-wrap: wrap-reverse; 
    flex-flow: row wrap; 
    justify-content: center;
    justify-content: flex-end;
    justify-content: flex-start;
    justify-content: space-around;
    justify-content: space-between;
    height: 70vh;
    align-items: center;
    align-items:flex-start ;
    align-items: flex-end;
    align-items: stretch;
    flex-wrap: wrap;
    align-content: stretch;
    align-content: space-between ;
    align-content: space-around;
    align-content:flex-start ;
    align-content: flex-end;
    height: 400px;
}
.flex-child{
    background-color: brown;
    margin: 20px;
    color: aliceblue;
    padding: 20px;
    width: 100px;
    text-align: center;
}
#one{
    order: 3;
    flex-grow: 0;
    flex-shrink: 5;
    align-self: flex-start;
}
#two{
    order: 2;
    flex-grow: 1;
    flex-shrink: 20;
    flex-basis: 300px;
    align-self: center;
}
#three{
    order: 1;
    flex-grow: 5;
    flex-shrink: 0;
    align-self: flex-end;
}
.grid-container{
    background-color: indianred;
    padding: 20px;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-columns: 200px 300px 200px;
    grid-template-columns: 50% 25% 25%;
    grid-template-rows: 100px 200px auto;
    grid-template-rows: auto auto auto;
    grid-template-rows: 50% 25% 25%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-content: start;
    justify-content: end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
    align-content: start;
    align-content: end;
    align-content: center;
    align-content: space-around;
    align-content: space-between;
    align-content: space-evenly;
    grid-template-areas: 
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
    grid-gap: 10px;
}
 .grid-item{
    background-color: wheat;
    border: 1px solid black;
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
#grid-1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-column: 1/4;
    grid-column: 1 / span 3;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-row: 1/5;
    grid-row: 1 / span 3;
}
#grid-5{
    grid-area: 1/2/3/4;
    grid-area: 1/2/span 2/span 3;

}
#grid-1{
    grid-area: header;
}
#grid-1{
    grid-area: menu;
}
#grid-3{
    grid-area: mainØ›
}
#grid-4{
    grid-area: right;
}
#grid-5{
    grid-area: footer;
} */