/* #gradient{
    border: 2px solid rebeccapurple;
    height: 500px;
     background-image: linear-gradient(to top right, pink,purple, cyan ); 
    background-image: linear-gradient(110deg, pink,purple, cyan )
    background-image: radial-gradient(circle,cyan 60%,blue 20%,palegreen 20%);
}
#overflow{
    border: 3px solid maroon;
    background-color: cyan;
    width: 500px;
    height: 250px;
     overflow-x: hidden;
    overflow-y: scroll; 
    overflow: auto;
    resize: vertical;
    resize: vertical;
}
textarea{
    resize: none;
}
ul{
    list-style-type:none;
    list-style-type: circle;    
    list-style-type: disc;
    list-style-type: square; 
    list-style-image: url(images/symbol.png);
    list-style-position: inside;
}
ol{
    list-style-type:none;
    list-style-type: lower-alpha;
    list-style-type: upper-alpha;
    list-style-type: lower-roman;
    list-style-type: upper-roman;
    list-style-type: decimal;
    list-style-type:decimal-leading-zero;
    list-style: inside;
}
li{
    border: 2px solid purple;
}
caption{
    border: 1px solid black;
    border-spacing: 20px 25px;
    caption-side: bottom;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 15px;
    empty-cells: hide;
    width: 100%;
    table-layout: auto;
}
tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
    height: 30px;
    padding: 5px;
    text-align: center;
    vertical-align: bottom;
}
td{
    border: 1px solid black;
    height: 25px;
    padding: 5px;
    text-align: center;
    vertical-align: top;
}
#func{
    height: 250px;
    background-color: var(--primary-color);
    width: calc(100% - 100px);
}
a{
    padding: 10px;
    margin: 30px;
    background-color: var(--button-color);
    color:var(--text-color) ;
    text-decoration: none;
}
:root{
    --primary-color: rgb(67, 110, 110);
    --button-color:rgb(179, 255, 0);
    --text-color:rgb(220, 39, 39);
}
#div1{
    background-color: aquamarine;
    width: 600px;
    height: 200px;
}
#div2{
    background-color: blanchedalmond;
    width: 600px;
    height: 200px;
    padding: 50px;
    border: 10px solid black;
    box-sizing: border-box;
}
#green{
    color: green;
}
#blue{
    color: blue;
}
#initial{
    color: initial;
}
#inherit{
    color: inherit;
}
img{
    border: 2px solid blueviolet;
    height: 250px;
    width: 250px;
    object-fit: contain;
    object-position: right center;
}
li:first-child{
    color: aqua;
    background-color: black;
}
li:last-child{
    color: blueviolet;
}
li:nth-child(4){
    color: maroon;
}
li:nth-child(odd){
    color: green;
}
li:nth-child(even){
    color: blue;
}
li:nth-child(n){
    color: violet;
}
p::first-letter{
    font-size: 35px;
    color: teal;
}
p::first-line{
    font-size: 35px;
    color: teal;
}
h1::before{
    content: url(images/1088580.jpg);
}
h1::after{
    content: url(images/symbol.png);
}
::selection{
    color: white;
    background-color: darkred;
} 
.display{
    border: 2px solid red;
    width: 50%;
    height: 100px;
    display:inline-block;
    visibility: hidden;
    display: none;
} 

#parent{
     border: 2px solid red; 
    padding: 20px;
    width: 50%;
    margin: 100px;
    position: relative;
} 

#one{
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    display: inline-block;
    position: relative;
    z-index: 3;

}

#two{
    width: 100px;
    height: 100px;
    background-color: brown;
    display: inline-block;
    position: relative;
    top: 50px;
    left: -50px;
    z-index: 2;
}

#three{
    width: 100px;
    height: 100px;
    background-color: black;
    display: inline-block;
    position: relative;
    top: 100px; 
    left: -100px;
    z-index: 1;
}

img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
#img1{
    float: right;
}
#img2{
    float: left;
}

ul{
    background-color: rgb(13, 9, 234);
    list-style-type: none;
    overflow: auto;
}
li{
    color: white;
    padding: 10px 20px;
    float: left;
}

p{
    border: 2px solid maroon;
    overflow: auto;
    width: 100%;
    height: auto;
}
img{
    float: right;
    border: 5px solid green;
}
#img1{
    float: left;
}
#img2{
    float: right;
    clear: both;
}

#content{
    width: 70%;
    background-color: palevioletred;
    height: 200px;
    float: left;
}
#sidebar{
    width: 30%;
    background-color: purple;
    height: 150px;
    float: left;
}
#footer{
    background-color: blueviolet;
    clear: both;
}

#wrapper{
    padding: 20px;
    margin: 100px;
    border: 2px solid blue;
    background-color: pink;
    transform: matrix(1, -0.2, 0, 1, 0, 0);
}
a{
    text-decoration: none;
    background-color: red;
    padding: 5px;
    color: white;
    transform: skew(20deg, 10deg);
    transform: skewY(30deg);
    display: inline-block;
    transform-origin: 100% 100%;
    
}
a:hover{
    display: inline-block;
    transform: translate(40px, 40px);
    transform: rotate(20deg);
    transform: scale(0.5,0.8);
    transform: scaleX(0.5,0.8);
    transform: scaleY(0.5,0.8);
}
*/
